/* Footer */
footer {
    background-color: #063255;
}

#footer {
    padding: 50px 0;
}

.footer-space-between {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.footer-link .fa-brands {
    padding: 30px 0;
    font-size: 20px;
}

.col-3 .float-hero {
    display: flex;
    float: left;
}
.col-3 .float {
    width: 55%;
}

footer #email {
    display: block;
    width: 100%;
    padding: 18px 40px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
}

#footer .button {
    margin-top: 20px;
    background-color: #F58A07;
    font-size: 1.1rem;
}

#footer .button:hover {
    background-color: white;
    color: #F58A07;    
}

#footer a {
    color: white;
    padding-right: 30px;
}

#footer a:hover {
    color: #F58A07;
}

.copyright {
    margin: 0;
}

#contact {
    position: relative;
}

#contact li {
    line-height: 2.5rem;
}

.orange-block-left {
    width: 50px;
    height: 150px;
    background-color: #F58A07;
}

.orange-block-right {
    width: 50px;
    height: 300px;
    background-color: #F58A07;
}

.ob-left {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 0 20px 0 0;
}

.ob-right {
    position: absolute;
    top: 30px;
    right: 0;
    border-radius: 20px 0 0 20px;
}

@media (max-width: 1400px) {
    .orange-block-left, .orange-block-right {
        display: none;
    }
}