/* Page layout */
.margin {
    margin: 100px 0;
}

.padding {
    padding: 64px 0;
}

/* Style */
#hero {
    margin-top: 180px;
}

p {
    font-size: 1.2rem;
    width: 95%;
}

.left-padding {
    padding-left: 40px;
}

section ul {
    line-height: 2.5rem;
}

#finsweet-comment .ceo {
    margin-top: 40px;
}

.ceo-img {
    border-radius: 50%;
    width: 80px;
}

.video-image {
    width: 100%;
}

.ceo-info {
    margin-left: -350px;
}

@media (max-width:768px) {
    .ceo-info {
        margin-left: 0;
    }
}

#finsweet-comment h4 {
    margin:0;
}

/* All image edit */
@media (max-width:1280px) {
    body .left-top::after, 
    body .right-middle::after,
    body .left-middle::after, 
    body .left-bottom::after {
        display: none;
    }
}
.hero-img::after {
    content: '';
    width: 25%;
    height: 100%;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    position: absolute;
    left: 0;
    border-radius: 20px 0 0 20px;
}

.left-top::after {
    position: absolute;
    top: calc(100%/3 - 47.5px);
    left: -47.5px;
    content: '';
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.right-middle::after {
    position: absolute;
    bottom: 35%;
    right: -47.5px;
    content: '';
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.left-middle::after {
    position: absolute;
    top: calc(100%/2 - 47.5px);
    left: -47.5px;
    content: '';
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.left-bottom::after {
    position: absolute;
    top: calc(100%/2 + 47.5px);
    left: -47.5px;
    content: '';
    width: 95px;
    height: 97px;
    background-color: #F58A07;
    mix-blend-mode: multiply;
    border-radius: 20px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}