/* Layout  */
.container {
    margin-left: 0;
    margin-right: 0;
}

.margin {
    margin: 128px 0;
}
.justify-center {
    display: flex;
    justify-content: center;
}

.row-2 {
    display: flex;
    flex-wrap: wrap;
    padding: 68px;
    border-radius: 20px;
    margin-top: 64px;
}

.column-1 {
    width: calc(100%/4 - 40px);
}

.column-2 {
    width: calc(100%/1.3 - 40px);
    flex: 0 800px;
}

/* Page style */
#job-description {
    margin-top: 150px;
}

@media (max-width: 1000px) {
    #job-description {
        margin-top: 200px;
    }
}

.row-2 h4 {
    margin-top: 16px;
    font-weight: 600;
}

.blue-background {
    border-radius: 20px;
}

input {
    width: 100%;
    padding: 18px 40px;
    border-radius: 50px;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0;
    border: none;
    background-color: rgba(210, 218, 237, 0.17);
}

#textarea {
    width: 100%;
    height: 215px;
    border-radius: 30px;
    background-color: rgba(210, 218, 237, 0.17);
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    padding: 37px;
    font-weight: bold;
}

.button {
    background-color: #F58A07;
}

.button:hover {
    background-color: #fff2e1;
    color: #F58A07;
}

@media (max-width: 768px) {
    .justify-center {
        justify-content: flex-start;
    }
}