#hero {
    margin-top: 160px;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    position: relative;
}

.container-2 {
    max-width: 752px;
    margin: 0 auto;
}

.post-info {
    display: flex;
    align-items: center;
    padding-right: 100px;
}

.post-info p {
    padding-right: 24px;
}

.portrait {
    width: 32px;
    height: 32px;
}

h1 {
    margin-top: 0;
}

h2 {
    margin-bottom: 0;
}

.margin {
    margin: 96px 0;
}